.header {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin:10px;

}
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 30px;
}
.houses {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;
}
.mas-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 17vw);
  grid-gap: 15px;
}
.about {
  display: flex;
  justify-content: center;
  margin: 15px;
}
/* .reviews {
  display: flex;
  justify-content: center;
  margin: 15px;
} */
body {
    margin: auto;
    background-color: #C4E7C0;
}
footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: #B6C7C1;
}
h1 {
  display: flex;
  justify-content: center;
}
h2 {
  display: flex;
  justify-content: center;
}
